.mainContainer {
	max-width: 1440px;
	max-height: auto;
	margin: 0px auto;
	padding: 0px 15px;
}
@media only screen and (max-width: 450px) {
	.mainContainer {
		max-width: 100%;
		margin: 0px auto;
		overflow: hidden;
	}
}
