.achieveContainer {
	max-width: 100%;
	height: auto;
	padding: 20px;
}
.title {
	max-width: 600px;
	font-size: 50px;
	font-weight: 400;
	letter-spacing: 2px;
	line-height: normal;
	background: linear-gradient(to right, #f2f5f7 0%, #a4abb5 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 30px;
}
.cardContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.card {
	display: flex;
	flex-direction: row;
	width: 300px;
	height: 100px;
	background-color: #1a2741;
	border-radius: 10px;
	overflow: hidden;
	color: #b4bbc7;
	padding: 10px;
	margin-bottom: 20px;
}
.description {
	font-size: 20px;
	font-weight: 200;
	width: fit-content;
	margin-left: 8px;
}
