.experienceContainer {
	max-width: 100%;
	height: auto;
	padding: 0px 20px;
}
.title {
	max-width: 600px;
	font-size: 50px;
	font-weight: 400;
	letter-spacing: 2px;
	line-height: normal;
	background: linear-gradient(to right, #f2f5f7 0%, #a4abb5 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 30px;
	animation: fadeIn 0.5s ease-in both;
}
.cardContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 30px;
	animation: fadeIn 0.5s ease-in both;
}
.card {
	display: flex;
	flex-direction: column;
	width: 250px;
	height: 100px;
	padding: 10px;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 1px solid #fec576;
	justify-content: center;
}
.cardTitle {
	font-size: 25px;
	line-height: normal;
	margin-bottom: 5px;
	background: linear-gradient(to right, #f2f5f7 0%, #a4abb5 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.date {
	font-size: 20px;
	margin-bottom: 10px;
	color: #fec576d1;
}
.position {
	color: #a4abb5;
}
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@media only screen and (max-width: 450px) {
	.experienceContainer {
		max-width: 100%;
		height: auto;
		padding: 40px 0px 0px 0px;
	}
	.title {
		min-width: 100%;
		font-size: 40px;
		padding: 20px 10px;
		margin: 0px;
	}
	.cardContainer {
		height: 550px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0px 10px;
		animation: fadeIn 0.5s ease-in both;
	}
}
