.heroContainer {
	display: flex;
	align-items: center;
}
.bgImage {
	width: 700px;
	height: 700px;
	position: relative;
	left: 740px;
}
.textsContainer {
	width: 700px;
	height: auto;
	position: absolute;
	padding: 20px;
}
.title {
	max-width: 600px;
	font-size: 50px;
	font-weight: 400;
	letter-spacing: 3px;
	line-height: normal;
	background: #f2f5f7;
	background: linear-gradient(to right, #f2f5f7 0%, #a4abb5 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: fadeIn 0.5s ease-in both;
}
.description {
	margin-top: 10px;
	color: #a4abb5;
	font-size: 23px;
	max-width: 550px;
	line-height: 1.4;
	animation: fadeIn 0.5s ease-in both;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@media only screen and (max-width: 450px) {
	.heroContainer {
		max-width: 450px;
		margin: 0px auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow: hidden;
		padding: 0px 0px;
	}
	.bgImage {
		max-width: 100%;
		height: 400px;
		position: relative;
		left: 0px;
	}
	.textsContainer {
		max-width: fit-content;
	}
	.title {
		min-width: 100%;
		font-size: 40px;
	}
	.description {
		min-width: fit-content;
	}
}
