.cardContainer {
	display: flex;
	flex-direction: column;
	width: 420px;
	height: 150px;
	border-radius: 10px;
	border: 1px solid #b0b7bf5e;
	padding: 15px;
	overflow: hidden;
	justify-content: center;
}
.titleContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	font-weight: 300;
}
.title {
	font-size: 20px;
	margin-left: 10px;
	color: #fec576;
}
.techList {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	overflow: hidden;
	justify-content: space-around;
	align-content: space-around;
	gap: 10px;
	max-width: 100%;
}
.techItem {
	display: flex;
	flex-direction: row;
	width: max-content;
	align-items: center;
	color: #b0b7bf;
	fill: #b0b7bf;
}
.techName {
	margin-left: 5px;
	font-weight: 200;
}
@media only screen and (max-width: 450px) {
	.cardContainer {
		width: 330px;
		height: 150px;
	}
}
