.techContainer {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin-bottom: 30px;
}
.title {
	max-width: 600px;
	font-size: 50px;
	font-weight: 400;
	letter-spacing: 2px;
	line-height: normal;
	background: #f2f5f7;
	background: linear-gradient(to right, #f2f5f7 0%, #a4abb5 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 30px;
}
.stackContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 20px;
}
@media only screen and (max-width: 450px) {
	.techContainer {
		min-width: fit-content;
		display: flex;
		flex-direction: column;
		padding: 0px;
		margin: 0px;
	}
	.title {
		max-width: 70%;
		font-size: 40px;
	}
	.stackContainer {
		min-width: auto;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0px;
	}
}
@media only screen and (max-width: 400px) {
	.title {
		max-width: 80%;
		font-size: 40px;
	}
}
